{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    
    <div class="container-fluid">
      <div class="row">    
        {% include "holidaysnew/admin/_sidebar.html.twig" %}
        
        
        <h1>activitys</h1>
        <div class="col-md-6 offset-md-3">
            {% for activity in activitys %}
                <a href="{{ path('activitie', {'slug': activity.slug}) }}"> <h2>{{ activity.title }}</h2> {{ activity.description }} </a><br />
            {% endfor %}
        </div>
        
      </div>
    </div>

{% endblock %}