{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    {% if activitys %}
        <div class=" mt-5 mx-auto w-75">
            <h1 class="ml-n2">Résultats des activités de loisirs</h1>
        </div>
    {% else %}
        <div class=" mt-5 mx-auto w-75">
            <h1 class="ml-n2">Aucun résultats pour les activités de loisirs trouvés</h1>
        
		<form method="post" action="{{ path('chearch') }}" class="">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputcity" class="sr-only">Ville</label>
                        <input name="city" type="text" class="form-control rounded-0 border-1 mr-3" placeholder="&nbsp; Choisir une ville" value=" ">
                        <label for="inputcity" class="sr-only">Budget</label>
                        <input name="price" type="number" class="form-control rounded-0 border-1" placeholder="&nbsp; Votre budget ex: 20€" value=" ">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 rounded-0 ">Recherche</button>
		</form>
        </div>
    {% endif %}
        
    <div id="content" class="mx-auto card-deck col-10 mt-5 d-flex">
        {% include "holidaysnew/_card.html.twig" %}
    </div>
        
        	
{% endblock %}