<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="viewport" content="width=500, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block head %}
            <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
            <script src="/vendor/components/jquery/jquery.min.js" ></script>        
            <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>    
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
