<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block head %}
            <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="/vendor/components/font-awesome/css/all.min.css">
{#            <link rel="stylesheet" href="{{ asset('css/app.css') }}">#}
            <link rel="stylesheet" href="/templates/holidaysnew/css/style.css">
        {% endblock %}
    </head>
    <body>

        <nav class="fixed-top navbar navbar-expand-lg ">
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <ul class="font-weight-bold navbar-nav mr-auto mt-n1 mt-lg mb-n2">
                    <li class="nav-item active">
                      <a class="nav-link text-dark" href="/">ACCUEIL <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-dark" href="/">IDÉES LOISIRS <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-dark" href="/activiter/sport">SPORT <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link text-dark" href="/activiter/jeux">JEUX <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link text-dark" href="/activiter/nature">NATURE <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link text-dark" href="{{ path('app_register') }}"> AJOUTER UNE ACTIVITÉ LOISIRS <span class="sr-only">(current)</span></a>
                    </li>

                </ul>

            </div>
        </nav>
        {% block content %}{% endblock %}
        
        <div class="w-100 btn-rose p-5 mt-5 text-white d-flex position-relative pb-0">
            <div class="col-xs-12 col-sm-4 col-md-4">
		<span class="h5">Quick links</span>
                <ul class="list-unstyled">
                    <li><a href="" class="text-white"> >> A propos </a></li>
                    <li><a href="" class="text-white"> >> FAQ </a></li>
                    <li><a href="" class="text-white"> >> Contact </a></li>
                </ul>
            </div>
            
            <div class="col-xs-12 col-sm-4 col-md-4">
		<span class="h5">Quick links</span>
                <ul class="list-unstyled">
                    <li><a href="" class="text-white"> footer </a></li>
                    <li><a href="" class="text-white"> >> footer </a></li>
                    <li><a href="" class="text-white"> >> footer </a></li>
                </ul>
            </div>
            
            <div class="col-xs-12 col-sm-4 col-md-4">
		<span class="h5">Quick links</span>
                <ul class="list-unstyled">
                    <li><a href="" class="text-white"> >> footer </a></li>
                    <li><a href="" class="text-white"> >> footer </a></li>
                    <li><a href="" class="text-white"> >> footer </a></li>
                </ul>
            </div>
            
        </div>
        <p class="w-100 btn-rose text-center text-white position-relative pb-0">© 2020 Progfacil.com</P>
        <script src="/vendor/components/jquery/jquery.slim.min.js" ></script>   

    </head>
    </body>
</html>
