{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Page test</h1>
    
<h5>Your lucky number is {{ number }} </h5>
    <p class="important">
        Welcome on my awesome homepage. modified 2
    </p>
{% endblock %}

{% block javascripts %}{% endblock %}

