.mw-300{min-width:300px;}.pb-0{bottom:0px;}.op-5{background-color: rgba(248,249,250,0.46)!important;}input[type=number] {-moz-appearance: textfield;}input::-webkit-inner-spin-button,input::-webkit-outer-spin-button { -webkit-appearance: none;margin:0;}.mb-9{margin-bottom: 9rem !important;}.opacity-5{opacity: 0.5;}

.btn-rose{
    background-color: #ff0033;
    color: white;
}